<div class="grid">
	<div class="grid__item one-whole">
		<h5>MOST POPULAR BRANDS</h5>
	</div>

	<div class="grid__item large--one-sixth medium--one-quarter small--one-half">
		<div class="popular-brand">
			<a href="/collections/{{ settings.popular-brands1 }}">
				<img src="{{ 'popular-brands-1.jpg' | asset_url }}" class="img-responsive">
			</a>
		</div>
	</div>

	<div class="grid__item large--one-sixth medium--one-quarter small--one-half">
		<div class="popular-brand">
			<a href="/collections/{{ settings.popular-brands2 }}">
				<img src="{{ 'popular-brands-2.jpg' | asset_url }}" class="img-responsive">
			</a>
		</div>
	</div>

	<div class="grid__item large--one-sixth medium--one-quarter small--one-half">
		<div class="popular-brand">
			<a href="/collections/{{ settings.popular-brands3 }}">
				<img src="{{ 'popular-brands-3.jpg' | asset_url }}" class="img-responsive">
			</a>
		</div>
	</div>

	<div class="grid__item large--one-sixth medium--one-quarter small--one-half">
		<div class="popular-brand">
			<a href="/collections/{{ settings.popular-brands4 }}">
				<img src="{{ 'popular-brands-4.jpg' | asset_url }}" class="img-responsive">
			</a>
		</div>
	</div>

	<div class="grid__item large--one-sixth medium--one-quarter small--one-half">
		<div class="popular-brand">
			<a href="/collections/{{ settings.popular-brands5 }}">
				<img src="{{ 'popular-brands-5.jpg' | asset_url }}" class="img-responsive">
			</a>
		</div>
	</div>

	<div class="grid__item large--one-sixth medium--one-quarter small--one-half">
		<div class="popular-brand">
			<a href="/collections/{{ settings.popular-brands6 }}">
				<img src="{{ 'popular-brands-6.jpg' | asset_url }}" class="img-responsive">
			</a>
		</div>
	</div>
</div>  